/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  input {
    border: none;
    outline: none;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  body {
    position: relative;
  }
  
  body.active {
    overflow-y: hidden;
  }
  
  /* Header styles */
  
  header {
    width: 100%;
    height: 10rem;
    background: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
  }
  
  .logo {
    font: 800 2.5rem sans-serif;
    color: white;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
  }
  
  .menu a {
    font: 500 2.5rem sans-serif;
    text-decoration: none;
    color: white;
  }

  .menu a.active{
    color: yellow;
  }
  
  a.login-btn {
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    background: navy;
    display: grid;
    place-items: center;
  }
  
  .burger {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  .burger div {
    width: 100%;
    height: 1rem;
    background-color: white;
    transition: transform 0.25s ease-in-out;
  }
  
  .burger.active div:nth-child(1) {
    transform: rotate(45deg) translateY(27.5px);
  }
  
  .burger.active div:nth-child(2) {
    display: none;
  }
  
  .burger.active div:nth-child(3) {
    transform: rotate(-45deg) translateY(-27.5px);
  }
  
  /* Main styles */
  
  main {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
  }
  
  .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  
  h3 {
    width: 100%;
    font: 600 5rem sans-serif;
    text-align: center;
  }
  
  .tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .tags span {
    font: 300 2.5rem sans-serif;
    width: 100%;
    height: 5rem;
    background: navy;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    margin: 0 1rem;
  }
  
  .item img {
    width: 50%;
    align-self: flex-start;
    height: 100%;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 5rem;
    background-size: contain;
    display: inline;
    float: left;
  }

  .item .description{
    font: 300 2rem serif;
    text-align: justify;
  }

  /* Footer styles */
  
  footer {
    padding: 5rem 10rem;
    width: 100%;
    height: 40rem;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  footer span {
    font: 300 3rem sans-serif;
    color: white;
  }
  
  .footer-info {
    display: grid;
    height: 100%;
  }
  
  .footer-info div {
    display: flex;
    align-items: center;
  }
  
  .footer-info svg {
    width: 4rem;
    height: 4rem;
    fill: #fff;
    margin-right: 3rem;
  }
  
  .footer-info div span {
    font: 300 2.5rem sans-serif;
    color: white;
  }
  
  .moveToTop {
    width: 10rem;
    height: 10rem;
    fill: yellow;
    background: navy;
    padding: 2rem;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  /* Login form styles */
  .overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    display: none;
    place-items: center;
  }
  
  .loginForm {
    width: 70rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
    background: royalblue;
    border-radius: 5rem;
    position: relative;
  }
  
  .loginForm h3{
      font-size: 500 3rem sans-serif;
      color: #fff; 
  }
  
  .mail {
      width: 100%;
      height: 5rem;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 2rem;
  }
  
  .password {
      width: 100%;
      height: 5rem;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 2rem;
  }
  
  .loginForm button{
      width: 100%;
      height: 7.5rem;
      display: grid;
      place-items: center;
      background: navy;
      border-radius: 1rem;
      color: #fff;
      font: 300 2.5rem sans-serif;
  }
  
  .loginForm svg{
      position: absolute;
      top: 5rem;
      right: 5rem;
      fill: #fff;
      cursor: pointer;
  }
  
  .loginForm span{
      font: 600 2rem sans-serif;
      color: royalblue;
      letter-spacing: 2px;
      text-align: center;
      width: 100%;
  
  }
  
  /* Laptop styles */
  @media (max-width: 1400px) {
    header,
    main,
    footer {
      padding: 5rem;
    }

    footer {
      flex-direction: column;
      height: 100%;
    }
    .footer-info {
      width: 100%;
      justify-content: space-between;
      column-gap: 5rem;
    }
    footer span {
      margin: 3rem 0;
    }
  }
  
  @media (max-width: 1250px) {
    header {
      position: relative;
    }
  
    .burger {
      display: flex;
    }
    header .menu {
      position: absolute;
      top: -30rem;
      width: 100%;
      height: 30rem;
      flex-basis: unset;
      background-color: royalblue;
      left: 0;
      padding: 5rem;
      flex-direction: column;
      align-items: flex-end;
      transition: top 0.25s ease-in-out;
      opacity: 0;
    }
    header .menu.active {
      top: 10rem;
      opacity: 1;
    }
  }
  
  @media (max-width: 950px) {
    .tags {
      flex-direction: column;
      align-items: center;
    }
    .tags span {
      margin: 1rem 0;
      height: 5rem;
    }
  }
  
  @media (max-width: 765px) {
    .footer-info div span {
      font-size: 2rem;
    }
    .loginForm {
      width: 100%;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 650px) {
    /* Header */
    header,
    main {
      padding: 0 2rem;
    }
  
    header .menu {
      align-items: center;
      top: -100vh;
      height: calc(100vh - 10rem);
      justify-content: space-evenly;
    }
  
    /* Main */
    section {
      margin: 5rem 0;
    }
    .item {
      margin: 3rem 0;
    }
  
    .item img {
      height: 30rem;
      width: 100%;
    }
    
    /* Footer */
  
    footer,
    .footer-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    footer {
      padding: 5rem 2rem;
    }
    .footer-info div {
      /* flex-direction: column; */
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 3rem 0;
    }
    .footer-info svg {
      width: 3rem;
      height: 3rem;
    }
    .footer-info div span {
      font-size: 1.75rem;
    }
    footer span {
      font-size: 2rem;
    }
  }
  